<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dmichael.android.memory.plus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryPlus"
        tools:targetApi="31">
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageCropActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".profiles.ProfilesActivity" />
        <activity android:name=".profiles.ProfileActivity" />
        <activity android:name=".cardsets.CardSetsActivity" />
        <activity android:name=".cardsets.CardSetActivity" />
        <activity android:name=".game.new.NewGameActivity" />
        <activity android:name=".game.GameActivity" />
        <activity android:name=".game.result.GameResultActivity" />
    </application>

</manifest>